
body {
    /* background: #000; */
    line-height: 2;
}

.c {
    color: #ec9696;
    opacity: 0
    
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  /*animation-name: fadeIn;*/
  animation: fadeIn 1s both;
}

.content {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    padding: 200px 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
}

.animated {
  /*animation-duration: 1s;*/
   /*animation-fill-mode: both;*/
}
